<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>비밀번호 찾기 완료 | Admin</title>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/main.css"/>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/message.js"></script>
</head>
<body>
<main class="container-fluid">
  <section class="signin-section">
    <div class="container-fluid">
      <div class="title-wrapper pt-30"></div>
      <div class="row g-0 auth-row">
        <div class="col-lg-12">
          <div class="auth-cover-wrapper bg-primary-100">
            <div class="auth-cover">
              <div class="title text-center">
                <h1 class="text-primary mb-10">비밀번호 찾기 완료!</h1>
                <p class="text-medium">
                  임시 비밀번호가 이메일로 발송되었습니다.
                </p>
              </div>
              <div class="cover-image">
                <img src="/images/auth/post-email.png" alt="post-email" />
              </div>
              <div class="shape-image">
                <img src="/images/auth/shape.svg" alt="shape" />
              </div>
              <div class="text-center mt-3">
                <a href="/member/public/login" class="main-btn active-btn rounded-md btn-hover w-100">로그인</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
</body>
</html>
