<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon"
        href="/images/favicon.ico"
        type="image/x-icon"
  />
  <title>404 | MS COMPANY</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/lineicons.css" />
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body id="page-top">
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <section>
        <div class="container-fluid">
          <div class="invoice-wrapper">
            <div class="row">
              <div class="col-12">
                <div class="invoice-card card-style mb-30" style="top:50%">
                  <div class="invoice-header">
                    <div class="invoice-for">
                      <h2 class="mb-10">404</h2>
                      <p class="text-sm">Not Found error.</p>
                    </div>
                  </div>
                  <div class="note-wrapper warning-alert py-4 px-sm-3 px-lg-5">
                    <div class="alert">
                      <h5 class="text-bold mb-15 text-center">404:</h5>
                      <p class="text-sm text-gray text-center">페이지를 찾을 수 없습니다.</p>
                    </div>
                  </div>
                  <div class="invoice-action">
                    <ul class="d-flex flex-wrap align-items-center justify-content-center">
                      <li class="m-2">
                        <a href="/dashboard" class="main-btn primary-btn btn-hover">홈으로</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
</html>