<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<style>
	@font-face {
		font-family: 'IBMPlexSansKR-Regular';
		src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}
	.form-wrap caption {
		display:none;
	}
</style>
<body>
<div class="form-wrap">
  <table cellpadding="0" cellspacing="0" valign="top" width="850" style="border-collapse:collapse; margin:0 auto; padding:0; border:1px solid #e5e5e5; font-family:'IBMPlexSansKR-Regular', '맑은 고딕', 'Margun Godic', '돋움', 'Dotum', sans-serif; font-size:18px; font-weight:400; color:#666666; line-height:1.5; letter-spacing:-0.02em;">
    <tbody>
    <tr>
      <td colspan="3" height="50"></td>
    </tr>
    <tr>
      <td width="50"></td>
      <td width="730" align="center">
        <img src="https://ms-call.kr/static/media/logo.952bd5730af649a4e8d8.png" alt="logo" width="150px;">
      </td>
      <td width="50"></td>
    </tr>
    <tr>
      <td colspan="3" height="50"></td>
    </tr>
    <tr>
      <td width="50"></td>
      <td width="730" style="font-size:30px; color:#1a1a1d;">임시 비밀번호 안내</td>
      <td width="50"></td>
    </tr>
    <tr>
      <td colspan="3" height="30"></td>
    </tr>
    <tr>
      <td width="50"></td>
      <td width="730">
        안녕하세요.<br/>
        관리자 페이지 임시 비밀번호 안내드립니다.<br/><br/>
      </td>
      <td width="50"></td>
    </tr>
    <tr>
      <td colspan="3" height="50"></td>
    </tr>
    <tr>
      <td width="50"></td>
      <td width="730" align="center" bgcolor="#f5f5f5" style="padding:30px; font-size:22px; color:#1a1a1d;">
        비밀번호: <span style="font-weight:bold;">$number</span>
      </td>
      <td width="50"></td>
    </tr>
    <tr>
      <td colspan="3" height="30"></td>
    </tr>
    <tr>
      <td width="50"></td>
      <td width="730">감사합니다.</td>
      <td width="50"></td>
    </tr>
    <tr>
      <td width="50"></td>
      <td width="730" align="center">
        <a href="$httpUrlAdmin/member/public/login" target="_blank" style="background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 60px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 22px;">로그인</a>
      </td>
      <td width="50"></td>
    </tr>
    <tr>
      <td colspan="3" height="100" style="border-bottom:1px solid #e5e5e5;"></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="3" height="50"></td>
    </tr>
    <tr>
      <td width="50"></td>
      <td width="750">
        <img src="https://ms-call.kr/static/media/logo.952bd5730af649a4e8d8.png" alt="logo" width="100">
      </td>
      <td width="50"></td>
    </tr>
    <tr>
      <td colspan="3" height="10"></td>
    </tr>
    <tr>
      <td width="50"></td>
      <td width="750" style="font-size:14px; color:#999999;">Copyright © MS COMPANY Corp. All Rights Reserved.</td>
      <td width="50"></td>
    </tr>
    <tr>
      <td colspan="3" height="50"></td>
    </tr>
    </tfoot>
  </table>
</div>
</body>
</html>